/* for elements that should
start invisible */
.hidden {
  display: none;
}

body {
  background-color: silver;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', system-ui, sans-serif;
}

form, #results-show {
  max-width: 50rem;
  margin: 0 auto;
}

fieldset {
  border-style: solid;
  border-width: calc(1ch * (1/2));
  border-image-source: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,74,164,1) 65%, rgba(2,0,36,1) 100%);
  border-image-slice: 1;
  border-image-repeat: round;
  /* backup color, in case border-image doesn't work */
  border-color: rgba(6,74,164,1);
}

legend {
  background-color: black;
  color: white;
}
/* put spaces before and after the legend text
to make it look neater */
legend::before, legend::after {
  /* thin space */
  content: "\2009"
}

/* to not directly touch the top of the 
preceding element */
button {
  margin: 10px auto;
}

#results-show {
  border-style: outset;
  border-width: calc(1ch * (1/2));
  width: max(30ch, 25vw);
}

#results-show span {
  font-style: italic;
}